@import url('https://fonts.cdnfonts.com/css/public-pixel');
*{
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'VT323', monospace;
  font-weight: bolder;
  background: url(/images/background.png);
  background-size:     cover;           
  background-repeat:   no-repeat;
  background-position: center; 
}

a {
  font-style: normal;
}

/*login*/

.loginSec{
  background: url(/images/backgroundlogin.gif);
  background-size:cover;           
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: border-box;
}

.buttonlogin{
  background-color: darkslateblue;
  border: 2px solid #6600ff;
  width: 18%;
  height: 2vw;
  border-radius: 10%;
  font-family: 'Public Pixel', sans-serif;

}
.buttonlogin:hover{
  background-color: #8c40ff;
  width: 19%;
  height: 2.5vw;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: darkslateblue;
}

.buttononlylogin:hover{
  background-color: #8c40ff;
  width: 26%;
  height: 2.5vw;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: darkslateblue;
}

.buttononlylogin{
  background-color: #6600ff;
  border: 2px solid darkslateblue;
  width: 25%;
  height: 2vw;
  border-radius: 10%;
  font-family: 'Public Pixel', sans-serif;
  text-align: center;
  color: black;
  text-decoration: none;


}


.Log{
  width: 40vw;
  height: 40vh;

  position: relative;

  top: 25%;

  gap:1.5em;
}

.button-img{
  width: 10em;
  height: 10em;

  background: transparent;
  border: none;
}

/*upperFunc*/

.upperFunc{
  width: 90vw;

  margin-top: 1.5vh;
  justify-content: space-between;
}

.world{
  width: 12em
}

.world img{
  width: 100%;
  height: 100%;
}

.worldPop h1{
  font-size: 18px;
}

.worldPop:target{
  display: flex !important;
}

.worldPop{
  transition: 200ms;

  padding: 2em;

  position: absolute;
  width: 50vw;
  height: 50vh;

  display: none !important; 

  top:25vh;
  left:25vw;

  background: #d8d6c0;
  border: solid #474747 5px;
  border-radius: 15px;

  z-index: 5;
}

/*Stats*/

.statsButton{
  width: 6em;
  height: auto;

  background: transparent;
  border: none;
}

.statsPop h1{
  font-size: 22px;
}

.statsPop:target{
  display: block !important;
}

.statsPop{
  transition: 200ms;

  padding: 2em;

  position: absolute;
  width: 50vw;
  height: 50vh;

  display: none !important; 

  top:25vh;
  left:25vw;

  background: #d8d6c0;
  border: solid #474747 5px;
  border-radius: 15px;

  z-index: 5;
}
/*Info Tool*/
.infoToolbtn{
  width: 10em;
  height: auto;

  background: transparent;
  border: none;
}

.inventoryButton img{
  width: 100%;
  height: 100%;
}

.infoTollPop h1{
  font-size: 22px;
}

.infoTollPop:target{
  display: block !important;
}

.infoTollPop{
  transition: 200ms;

  padding: 2em;

  position: absolute;
  width: 50vw;
  height: 50vh;

  display: none !important; 

  top:25vh;
  left:25vw;

  background: #d8d6c0;
  border: solid #474747 5px;
  border-radius: 15px;

  z-index: 10;
}



/*Inventory*/

.inventoryButton{
  width: 10em;
  height: auto;

  background: transparent;
  border: none;
}

.inventoryButton img{
  width: 100%;
  height: 100%;
}

.inventoryPop h1{
  font-size: 22px;
}

.inventoryPop:target{
  display: block !important;
}

.shopPop{
  transition: 200ms;

  padding: 2em;

  position: absolute !important;
  width: 50vw;
  height: 50vh;

  display: none !important; 

  bottom:25vh;
  left:25vw;

  background: #d8d6c0;
  border: solid #474747 5px;
  border-radius: 15px;

  z-index: 10;
}

.inventoryPop{
  transition: 200ms;

  padding: 2em;

  position: absolute;
  width: 55vw;
  height: 73vh;

  display: none !important; 

  top: 13.5vh;
  left: 25vw;

  background: #d8d6c0;
  border: solid #474747 5px;
  border-radius: 15px;

  z-index: 10;
}

/*X*/

.X{
  position: absolute;
  top: 2%;
  right: 1%;
  
  font-size: 18px;

}


/*lowfunc*/
.lowFunc{
  width: 98vw;
  height: auto;

  position: relative;

  justify-content: space-between;
  align-items:end;
  bottom: 4.6%;

  overflow:visible;
}

.carachter{
  width: 22em;
  height: auto;

  overflow: visible;

  z-index: 2;
}
.carachter img{
  width: 100%;
  height: 100%;
}



/* block */
.block{
  width:10em;
  height: auto;

}
.block img{
  width: 100%;
  height: 100%;
}
section{
  display: flex;
  flex-direction: column;

  
  width: 100vw;
  height: 100vh;
}

.shopPop:target{
  display: flex !important;
  flex-direction: column;
}

/**/
.worldEarth{
  background-image: url(/images/worlds/forest.gif);
  background-size:cover;           
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: border-box;

  justify-content: space-between;

  overflow: hidden;
}




.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.j-center{
  justify-content: center;
}

.a-center{
  align-items: center;
}

.gap2{
  gap: 2em;
}

h1{
  margin: 0;
}

p{
  margin: 0;
}

.nonImgButton{
  background: rgba(255, 153, 0, 0.884);
  border: solid #474747 2px;
  border-radius: 6px;
  
  margin: 0.4em;
}

button{
  background: transparent;
  border: none;
}

input {
  border-radius: 5px;
}

.duelWorld {
  background: url(/images/duelbackground.jpg);
  background-size:cover;           
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: border-box;

  justify-content: flex-end;
}

/*duel*/
/*lowfunc for duel*/
.duellowFunc{
  width: 75vw;
  height: auto;

  justify-content: space-between;
  align-items:end;
  margin-bottom: 4.6%;

  overflow:visible;
}

.duelcharacter{
  width: 22em;
  height: auto;

  overflow: visible;

  z-index: 2;
}
.duelcharacter img{
  width: 100%;
  height: 100%;
}

/* duelbutton */

.duelButton{
  width: 10em;
  height: auto;

  background: transparent;
  border: none;
}


/*lowfunc for botduel*/

.botcharacter{
  width: 15em;
  height: auto;

  overflow: visible;

  z-index: 2;
}
.botcharacter img{
  width: 100%;
  height: 100%;
}

.fightButton{
  width: 30em;
  height: auto;
}

.fightButton img{
  width: 100%;
  height: 100%;
}