*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/background.png);
  background-size:     cover;           
  background-repeat:   no-repeat;
  background-position: center; 
}

a {
  color: #00B7FF;
}

/*login*/

.loginSec{
  background: url(/images/backgroundlogin.gif);
  background-size:cover;           
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: border-box;
}

.Log{
  width: 40vw;
  height: 40vh;

  position: relative;

  top: 25%;

  gap:1.5em;
}

.button-img{
  width: 10em;
  height: 10em;

  background: transparent;
  border: none;
}

/*upperFunc*/

.upperFunc{
  width: 100vw;

  justify-content: space-between;
}

.statsButton{
  width: 6em;
  height: auto;

  background: transparent;
  border: none;
}

.statsPop h1{
  font-size: 22px;
}

.statsPop:target{
  display: block !important;
}

.statsPop{
  position: absolute;
  width: 50vw;
  height: 50vh;

  display: none !important; 

  top:25vh;
  left:25vw;

  background: #d8d6c0;
  border: solid #474747 5px;
  border-radius: 15px;
}



section{
  display: flex;
  flex-direction: column;

  
  width: 100vw;
  height: 100vh;
}

.worldEarth{
  background: url(/images/forest.gif);
  background-size:cover;           
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.j-center{
  justify-content: center;
}

.a-center{
  align-items: center;
}
